@import '../libs/bourbon/app/assets/stylesheets/bourbon';
@import '../libs/neat/app/assets/stylesheets/neat';

@import 'normalize';
@import 'vars';
@import 'buttons';
@import 'pages/home';
@import 'directives/videolist';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
}

#view-container {
	position: relative;
	z-index: 1;
	@include outer-container;

	margin-top:60px;
	padding:0 10px;
}

header {
	position: fixed;
	top:0;
	z-index: 2;
	
	width: 100%;
	height:60px;

	background:#333;
	h1 {
		line-height: 60px;
		a {
			color: #efefef;
			text-decoration: none;
		}
		margin:0 10px;
	}
}

h1, h2, h3 {
	margin:0;
	padding:0;
	font-size: $font-size--xl;
	a {
		color: inherit;
		text-decoration: none;
	}
}

h2 {
	font-size: $font-size--lg;
}

h3 {
	font-size: $font-size--md;
}

p {
	margin:0;
}
