<article ng-repeat="item in data" ng-class="item " class="item">
	<a ng-href="/video/{{item.id.videoId}}" class="thumb" ng-show="item.snippet.thumbnails.default.url"><img ng-src="{{item.snippet.thumbnails.default.url}}" width="100%" /></a>

	<summary>
		<h3 class="title" ng-show="item.snippet.title"><a ng-href="/video/{{item.id.videoId}}">{{item.snippet.title}}</a></h3>
		<p class="desc" ng-show="item.snippet.description">{{item.snippet.description}}</p>
	</summary>
</article>

<button ng-click="loadmore()" class="load-more">Load More</button>