.large-list {
	margin-bottom:20px;
	padding:20px;
	article.item {
		position: relative;
		width: 100%;
		display: table;
		margin-bottom:20px;
		padding:0 0 20px;

		border-bottom: 1px solid #eee;
		&:after {
			position: absolute;
			bottom:0;
			left:0;
			content: " ";
			width: 100%;
			border-bottom:1px solid #999;
		}
	}
	.thumb {
		@include span-columns(2);
	}
	summary {
		@include span-columns(10);

		h3 {
			margin-bottom:10px;
		}
	}
	button {
		display: block;
		margin: 0px auto;
	}
}

.recently-watch-list {
	@include span-columns(3);
	button {display:none;}
}