<div id="home-container">
	<div class="search-form">
		<h1>Search Here</h1>
		<search callback-fn="home.submitSearch(query)" query="{{home.query}}"></search>
	</div>

	<section videolist data="home.searchResults" ng-class="{'full-width':!home.recentlyWatched}" class="results large-list" load-more-fn="home.loadMore()"></section>

	<div class="recently-viewed" ng-show="home.recentlyWatched">
		<h2>recently viewed</h2>
		<section videolist data="home.recentlyWatched" class="recently-watch-list"></section>
	</div>
</div>